ol {
    list-style-type: upper-roman;
}

ol.linenums{
    list-style-type: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    color: #ffffff;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


body {
    font-family: 'PT Sans', sans-serif;

    min-height: 740px;

    background: url('../assets/logo_openxke.png') 97% 97% no-repeat , rgb(215, 215, 215);
    background: url('../assets/logo_openxke.png') 97% 97% no-repeat , -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(#7b3371), to(#430d42)) ;
    background: url('../assets/logo_openxke.png') 97% 97% no-repeat , -webkit-radial-gradient(#7b3371, #430d42) ;
    background: url('../assets/logo_openxke.png') 97% 97% no-repeat , -moz-radial-gradient(#7b3371, #430d42) ;
    background: url('../assets/logo_openxke.png') 97% 97% no-repeat , -o-radial-gradient(#7b3371, #430d42) ;
    background: url('../assets/logo_openxke.png') 97% 97% no-repeat , radial-gradient(#7b3371, #430d42) ;

    -webkit-font-smoothing: antialiased;
}

b, strong { font-weight: bold }
i, em { font-style: italic}

a {
    color: inherit;
    text-decoration: none;
    padding: 0 0.1em;
    background: rgba(255,255,255,0.5);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.9);
    border-radius: 0.2em;

    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}

a:hover {
    background: rgba(255,255,255,1);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.5);
}

/* enable clicking on elements 'hiding' behind body in 3D */
body     { pointer-events: none; }
#impress { pointer-events: auto; }

/* COMMON STEP STYLES */

.step {
    width: 900px;
    padding: 40px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    font-family: 'Ubuntu';

    font-size: 3em;
    line-height: 1.5;
}

.step {
    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

/* fade out inactive slides */
.step:not(.active) {
    opacity: 0;
    z-index: 1;
}

.step:not(.active) iframe{
    display: none;
}

.step.active{
    z-index: 2;
}


/* overview step */

#overview {
    z-index: -1;
    padding: 0;
}
/* on overview step everything is visible */

.impress-on-overview .step {
    opacity: 1;
    cursor: pointer;
}


/* IMPRESS NOT SUPPORTED STYLES */

.fallback-message {
    font-family: sans-serif;
    line-height: 1.3;

    display: none;
    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border-radius: 10px;
    border: 1px solid #E4C652;
    background: #EEDC94;
}

.fallback-message p {
    margin-bottom: 10px;
}

.hint {
    /*
        We hide the hint until presentation is started and from browsers not supporting
        impress.js, as they will have a linear scrollable view ...
    */
    display: none;

    /*
        ... and give it some fixed position and nice styles.
    */
    position: fixed;
    left: 0;
    right: 0;
    bottom: 200px;

    background: rgba(0,0,0,0.5);
    color: #EEE;
    text-align: center;

    font-size: 50px;
    padding: 20px;

    z-index: 100;

    /*
        By default we don't want the hint to be visible, so we make it transparent ...
    */
    opacity: 0;

    /*
        ... and position it below the bottom of the screen (relative to it's fixed position)
    */
    -webkit-transform: translateY(400px);
    -moz-transform:    translateY(400px);
    -ms-transform:     translateY(400px);
    -o-transform:      translateY(400px);
    transform:         translateY(400px);

    /*
        Now let's imagine that the hint is visible and we want to fade it out and move out
        of the screen.

        So we define the transition on the opacity property with 1s duration and another
        transition on transform property delayed by 1s so it will happen after the fade out
        on opacity finished.

        This way user will not see the hint moving down.
    */
    -webkit-transition: opacity 1s, -webkit-transform 0.5s 1s;
    -moz-transition:    opacity 1s,    -moz-transform 0.5s 1s;
    -ms-transition:     opacity 1s,     -ms-transform 0.5s 1s;
    -o-transition:      opacity 1s,      -o-transform 0.5s 1s;
    transition:         opacity 1s,         transform 0.5s 1s;
}

.impress-on-title .hint {
    /*
        We remove the transparency and position the hint in its default fixed
        position.
    */
    opacity: 1;

    -webkit-transform: translateY(0px);
    -moz-transform:    translateY(0px);
    -ms-transform:     translateY(0px);
    -o-transform:      translateY(0px);
    transform:         translateY(0px);

    /*
        Now for fade in transition we have the oposite situation from the one
        above.

        First after 4.5s delay we animate the transform property to move the hint
        into its correct position and after that we fade it in with opacity
        transition.
    */
    -webkit-transition: opacity 1s 5s, -webkit-transform 0.5s 4.5s;
    -moz-transition:    opacity 1s 5s,    -moz-transform 0.5s 4.5s;
    -ms-transition:     opacity 1s 5s,     -ms-transform 0.5s 4.5s;
    -o-transition:      opacity 1s 5s,      -o-transform 0.5s 4.5s;
    transition:         opacity 1s 5s,         transform 0.5s 4.5s;
}

/*
    Now we 'enable' the hint when presentation is initialized ...
*/
.impress-enabled .hint { display: block }

.impress-disabled .step,
.impress-not-supported .step {
    position: relative;
    opacity: 1;
    margin: 20px auto;
}

.impress-not-supported .fallback-message {
    display: block;
}

@font-face {
    font-family: 'Pixelic war';
    src: url("../assets/fonts/Blox2.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lobster';
    src: url("../assets/fonts/lobster.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url("../assets/fonts/segoeui.ttf");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Slab Light'), local('RobotoSlab-Light'), url("../assets/fonts/roboto.woff") format('woff');
}

@font-face {
    font-family: 'Graffitti';
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fonts/Painterz.ttf')
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 20px 0;
    color: #eeeeee;
    font-family: "League Gothic", Impact, sans-serif;
    line-height: 0.9em;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}

h1 {
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 20px 20px rgba(0, 0, 0, 0.15);
}

.title {
    font-size: 78px;
    line-height: 1.2em;
}

.author-container{
    font-size: 0.7em;
    text-align: right;
    padding-right: 12px;
}

.author-container a{
    text-decoration: none;
    padding: none;
    background: none;
    text-shadow: none;
    border-radius: 0.2em;
}

.pixel {
    font-family: "Pixelic war";
    text-align: center;
}

.building li {
    font-family: "IMPACT", sans-serif;
    letter-spacing: -0.02em;
    line-height: 0.8em;
    font-size: 4.3em;
    text-transform: uppercase;
    letter-spacing: -0.05em;
}

li .fall{
    display: inline-block;
    width: 84px;
}

.building li, .building li .fall {
    color: transparent;
    background: url("../assets/brick_small.png") repeat;
    -webkit-background-clip: text;
    background-clip : text;
    text-shadow : 0px 0px 6px rgba(0, 0, 0, 0.2);
}

.building.bad li,  .building.bad li .fall{
    background: url("../assets/dirty_wall.jpg") repeat;
    -webkit-background-clip: text;
    background-clip : text;
    -webkit-transition : background 1s;
    transition : background 1s;
    -o-transition : background 1s;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}

.impress-on-simple,
.impress-on-productive,
.impress-on-fast,
.impress-on-building,
.impress-on-isOk,
.impress-on-bad_building{
    background: url('../assets/ground.png') repeat-x 0px -1449px #80cdf5;
}

.impress-on-building,
.impress-on-ground,
.impress-on-bad_building,
.impress-on-wtf{
    -webkit-transition: background ease-in-out 900ms;
    transition : background 900ms;
    -o-transition : background 900ms;
}

.impress-on-ground,
.impress-on-autocomplete,
.impress-on-wtf,
.impress-on-bad_api, .impress-on-bad_api_1 {
    background: url('../assets/ground.png') repeat-x 0px -2014px #80cdf5;
}

.impress-on-ground #building,
.impress-on-autocomplete #building,
.impress-on-bad_api #building,
.impress-on-bad_api_1 #building,
.impress-on-wtf #building {
    opacity: 1;
}

li.simple {
    letter-spacing: 0.235em;
}

li.productive {

}

li.fast {
    letter-spacing: 0.234em;
}
#typescript {
}

#typescript ul li {
    color: #000;
}

body[class^='impress-on-typescript'],body[class*=' impress-on-typescript'] #typescript{
    opacity: 1;
}

body[class^='impress-on-typescript'],body[class*=' impress-on-typescript'] .innerdiv{
    top:-145px;
    left:-40px;
}

.typescript-title {
    font-family: "Segoe UI";
    color: #007acc;
    font-size: 1.1em;
}

.coffeescript-title{
    font-family: "Lobster";
    color: #007acc;
}

body[class^='impress-on-dart'],body[class*=' impress-on-dart'] #leader1{
    opacity: 1;
}
body.impress-on-dart_performance_graph div#leader1{
    opacity: 0;
}

.impress-on-dart_performance_graph .outerdiv {
    width:900px;
    height:500px;
    overflow:hidden;
    position:relative;
}

.impress-on-dart_performance_graph .innerdiv {
    width: 1116px;
    height: 619px;
    left: -87px;
    top: -158px;
}

.dart .editor{
    width: 900px;
    height: 400px;
}

.dart .code .innerdiv{
    top: -72px;
    left: -18px;
}
.dart .code .editor{
    width: 1000px;
    height: 600px;
}

.coffeescript .editor{
    width: 1000px;
    height: 455px;
}

.coffee-editor {
    width: 480px;
    height: 600px;
    float: left;
    margin-right: 30px;
}
.impress-on-coffeescript #coffeescript .title{
    background: url('../assets/coffeescript.png') no-repeat;
}
#coffeescript .title{
    background: url('../assets/coffeescript.png') no-repeat -100px;
    -webkit-transition-delay: 1s;
    -o-transition-delay:1s;
    transition-delay:1s;
    -webkit-transition: 1s background ;
    transition : background 1s;
    -o-transition : background 1s;
}

body[class^='impress-on-coffeescript'],body[class*=' impress-on-coffeescript'] #coffeescript{
    opacity: 1;
}

.impress-on-console #title{
    opacity: 1;
}

.impress-on-trend, .impress-on-trend2 {
    background: white url("../assets/stackoverflow-logo.png") no-repeat;
}

#trend {
    width: 1139px;
}

#trend2 {
    width: 1147px;
}

.cloud-languages {
    position: absolute;
    top: 0;
    bottom: 0;
}

.libs {
    border: 3px solid white;
    border-radius: 15px;
    background-color: #818D98;
    -moz-box-shadow: inset 2px 2px 10px 3px #090F15;
    -webkit-box-shadow: inset 2px 2px 10px 3px #090F15;
    -o-box-shadow: inset 2px 2px 10px 3px #090F15;
    box-shadow: inset 2px 2px 10px 3px #090F15;
    padding: 30px
}

.momentjs {
    font-family: 'Roboto Slab';
}
.graffiti{
    font-family: 'Graffitti';
    color: red;
    font-size: 1.9em;
    position: absolute;
    bottom: 60px;
    left: 80px;
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -o-transform: rotate(-7deg);
    transform:; rotate(-7deg);
    text-shadow: 6px 0px 6px rgba(0, 0, 0, 0.9);
}

.active #js-terminal{
    z-index : 1000;
}

#js-terminal, #autcomplete_container {
    width: 810px;
    height: 480px;
}

body[class^='impress-on-clouds'],body[class*=' impress-on-clouds']{
    background: url('../assets/ground.png') repeat-x 0px 0px #80cdf5;
    -webkit-transition: background ease-in-out 900ms;
}

.impress-on-clouds1 #clouds,
.impress-on-clouds2 #clouds,
.impress-on-clouds3 #clouds,
.impress-on-clouds4 #clouds,
.impress-on-clouds5 #clouds{
    opacity: 1;
}

.impress-on-clouds2 #clouds1,
.impress-on-clouds3 #clouds1,
.impress-on-clouds4 #clouds1,
.impress-on-clouds5 #clouds1{
    opacity: 1;
}

.impress-on-clouds3 #clouds2,
.impress-on-clouds4 #clouds2,
.impress-on-clouds5 #clouds2{
    opacity: 1;
}

.impress-on-clouds4 #clouds3,
.impress-on-clouds5 #clouds3{
    opacity: 1;
}

.impress-on-clouds5 #clouds4{
    opacity: 1;
}

.impress-on-leader1 #leaders,

.impress-on-leader2 #leaders,
.impress-on-leader2 #leader1,

.impress-on-leader3 #leaders,
.impress-on-leader3 #leader1,
.impress-on-leader3 #leader2{
    opacity: 1;
}
.cyan{
    color: #29bed5;
}

.coffy{
    font-family: 'Lobster' !important;
    color: #df0075 !important;
}

.greenify{
    color: #afcd37;
    font-family: 'Segoe UI';
}

.strong{
    font-weight: bold;
    color: inherit;
}

.step.code{
    width: 1100px;
}

.container { margin:auto; }

.outerdiv {
    width:1100px;
    height:500px;
    overflow:hidden;
    position:relative;
}

.innerdiv {
    position:absolute;

    width:1280px;
    height:1200px;
}

.go-up{
    -webkit-transition-duration: 10s;
    top:-13200px;
}

.impress-on-roadmap-2 #roadmap-1,
.impress-on-roadmap-3 #roadmap-1,
.impress-on-roadmap-4 #roadmap-1{
    opacity: 1;
}

.impress-on-roadmap-3 #roadmap-2,
.impress-on-roadmap-4 #roadmap-2{
    opacity: 1;
}

.impress-on-roadmap-4 #roadmap-3{
    opacity: 1;
}